.conrainer{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color:aqua;
    font-size: 16px;

}

.progress-bar{
    background: #fef2f2;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
    
}

.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html{
    background: #ffc7c7;
    animation: html 1s linear forwards;
}

.css{
    background: #fea3a3;
    animation: css 1s linear forwards;
}

.JS{
    background: #fb6e6e;
    animation: JS 1s linear forwards;
}

.python{
    background: #f24141;
    animation: python 1s linear forwards;
}

.html span{
    border: 1px solid #ffe1e1;
}

.css span{
    border: 1px solid #ffe1e1;
}

.JS span{
    border: 1px solid #ffe1e1;
}

.python span{
    border: 1px solid #ffe1e1;
}

@keyframes html{
    100%{
        width: 65%;
    }
}

@keyframes css{
    100%{
        width: 40%;
    }
}

@keyframes JS{
    100%{
        width: 10%;
    }
}

@keyframes python{
    100%{
        width: 40%;
    }
}